body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*=============== HEADER =================*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list-item {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-new {
  position: relative;
  color: #404bbf;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.nav-new:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-item-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: #404bbf;
}

/*=============== INPUT STYLES (Фиксы ошибок) =================*/

input {
  line-height: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-input {
  line-height: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.footer-subscribe-field {
  line-height: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  color: #ffffff;
}

.footer-subscribe-field::placeholder {
  color: #ffffff;
}

.checkbox-box {
  line-height: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Стили для форм */
.footer-form-subscribe {
  display: flex;
  gap: 24px;
}

/* Стили для кнопок */
.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}

.footer-subscribe-icon {
  margin-left: 16px;
}

/* Стили для модального окна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover {
  background-color: #404bbf;
  border: none;
}

.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-btn-icon {
  fill: #ffffff;
}

.modal-btn-close:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4D5AE5;
}

.modal-comment-field {
  margin-bottom: 16px;
}

.modal-comment-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-text:focus {
  border-color: #4D5AE5;
}

.checkbox {
  margin-bottom: 24px;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-icon-fake {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-box:checked + .checkbox-text .checkbox-icon-fake {
  background-color: #404bbf;
  fill: #F4F4FD;
  border: none;
}

.privacy-link {
  color: #4d5ae5;
}

/*=============== SECTION1 =================*/

.main-section {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
  max-width: 1440px;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/main-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.order-button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: block;
  cursor: pointer;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/*=============== FOOTER =================*/

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-list {
  margin-right: 120px;
}

.web-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  max-width: 264px;
}

.footer-form {
  margin-left: 80px;
}

.footer-form-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/*=============== MODAL =================*/

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.send-btn {
  cursor: pointer;
  min-width: 169px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}

.modal-form {
  /* Стили для формы в модальном окне */
}

.modal-field {
  margin-bottom: 8px;
}